:root {
    --nav-bar-color: #ED7E6D;
    --footer: #F59F91;
    --title: #FCA465;
    --title2: #5348B3;
    --button: #EFB08C;
    --button2: #C1C4DE;
    --font: Noto Sans TC;
}

.navbar {
    background-color: var(--nav-bar-color);
    position: fixed;
    z-index: 3;
    width: 100%;
    padding: 7px 10% 7px 10%;
}

.footer {
    background-color: var(--footer);
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 1% 0% 1% 0%;
    font-size: 12px;
    font-family: var(--font);
    position: relative;
    z-index: 10;
}

.new_pic_c {
    border-radius: 52px;
    box-shadow: 6px 6px 15px 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

.news_title_c {
    color: var(--black, #000);
    font-family: Noto Sans TC;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.news_button {
    background-color: var(--button);
    border-color: var(--button);
    border-radius: 30px;
    color: white;
}

.news_button:hover {
    background-color: var(--title);
    border-color: var(--title);
}

.not_found {
    background-image: url('/images/bg.png');
    padding: 24% 28% 28% 28%;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    color: white;
}

.search {
    border-radius: 30px;
    border: 2px solid var(--white, #FFF);
    background: rgba(255, 255, 255, 0.50);
    cursor: pointer;
    padding: 5px 10px 5px 20px;
    min-width: 350px;
}

.input_container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.search_icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #888;
    cursor: pointer;
    padding: 5px 10px 5px 10px;

}

.goods_item {
    border-radius: 10px;
    background: var(--white, #FFF);
    box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 9% 8% 9% 8%;
    margin: 15px 0 15px 0;
}

.goods_title_c {
    color: var(--black, #000);
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.button2_bg {
    background-color: var(--button2);
    border-color: var(--button2);
}

.button2_bg:hover {
    background-color: var(--title2);
    border-color: var(--title2);
    transition-duration: .5s;
}

.cart_item {
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.60);
    backdrop-filter: blur(10px);
    padding: 2% 10% 2% 10%;
}

.cart_font {
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.trash {
    color: black;
    opacity: 0.5;
    cursor: pointer;
}

.trash:hover {
    opacity: 1;
}

.search_not_found {
    color: white;
    text-align: center;
    font-family: Noto Sans TC;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.before_user {
    position: relative;
    z-index: 5;
}

.inputBox {
    border-radius: 20px;
    border: 1px solid #BCBCBC;
    background: #F3F3F3;
    padding: 5px 10px 5px 20px;
    width: 100%;
}

.info_text {
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.info_title {
    color: var(--title2);
    font-family: Noto Sans TC;
    font-size: 42px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.history_container {
    border-radius: 20px;
    border: 1px solid #CCC;
    background: var(--white, #FFF);
    padding: 10%;
    margin: 5% 0% 5% 0%;
}